from lib.flask_via.routers.default import Pluggable
from lib.flask_via.routers.restful import Resource
from .views import *
from .apis import *


routes = [
    Pluggable('/@$view', @$view_classname, '@$view_classname'),
    Resource('/@$api', @$api_classname, '@$api_classname')
]
